* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: auto 10vw;
}

#header {
  background-color: lightgreen;
  height: 10vh;
  padding: 5px 10px;
}

.verticalize {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.verticalize a {
  text-decoration: none;
}
#content {
  border: 1px solid dotted;
  min-height: 100vh;
  background-color: lightcyan;
  display: flex;
  flex-direction: column;
}

.acheivements {
  display: ;
}
#footer {
  display: flex;
  justify-content: space-between;
  min-height: 30vh;
  align-items: center;
  background-color: lightsalmon;
}
